:root {
    --main-bg: #f8f8f8;
    --color-primary: #2dd4bf;
    --border-color: #e8e8e8;
    --text-color: #333;
    --text-color-333: #333;
    --text-color-666: #666;
    --text-color-999: #999;
    --text-color-ccc: #ccc;
    --text-color-white: white;
    --gap: 15px;
    --border-radius: 5px;
    --el-bg-color: var(--main-bg) !important;
    --el-color-primary: var(--color-primary) !important;
}